#feedback_kupiapp {
	box-sizing: border-box !important;
	font-size: 13px !important;
	font-family: Roboto, sans-serif !important;
	background:#fff !important;
	border-radius:3px !important;
	padding:5px !important;
}

.link_kupiapp {
	color: #5181b8 !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.link_kupiapp:hover {
	color: #5788c1 !important;
}

.avatar_kupiapp {
	border-radius: 100% !important;
}

.container_kupiapp {
  	display: flex !important;
	flex-direction: column-reverse !important;
	max-width:  100% !important;
	padding: 5px !important;
	padding-top: 15px !important;
	border: 1px solid #d7d7d7 !important;
	margin-top: 30px !important;
	background:#fff !important;
}

.user_kupiapp {
	display: flex !important;
	flex-direction: row !important;
	align-self: flex-end !important;
}

.row_kupiapp {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	margin-right: 10px !important;
}

.col_name_kupiapp {
	display: flex !important;
	justify-content: flex-end !important;
	line-height:18px !important;
}

.col_date_kupiapp {
	display: flex !important;
	justify-content: flex-end !important;
	/*margin-top: 7px !important;*/
	font-size: 12px !important;
	line-height:18px !important;
    color: rgb(119,126,140) !important;

}

.comment_kupiapp {
	display: row !important;
	padding-left: 10px !important;
    padding-right: 10px !important;
    color: #0c0c0c !important;
}

.button_kupiapp {
    text-decoration: none !important;
    padding: 8px 16px 7px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin: 0 !important;
    font-size: 12.5px !important;
    display: inline-block !important;
    zoom: 1 !important;
    cursor: pointer !important;
    white-space: nowrap !important;
    outline: none !important;
    vertical-align: top !important;
    line-height: 15px !important;
    text-align: center !important;
    background: none !important;
    background-color: #5181b8 !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
}

.button_kupiapp:hover {
	color: #fff !important;
	cursor: pointer !important;
	background-color: #5788c1 !important;

}

.center_kupiapp {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

ul.pagination_kupiapp {
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
}

ul.pagination_kupiapp li {display: inline !important;}

ul.pagination_kupiapp li a {
    color: #5181b8 !important;
    float: left !important;
    padding: 8px 16px !important;
    text-decoration: none !important;
    transition: background-color .3s !important;
    font-size: 18px !important;
}

ul.pagination_kupiapp li a.active {
    background-color: #eee !important;
    color: #5181b8 !important;
}