.profi-widget {
    height: 100px;
    width: 300px;
    padding: 11px 0 16px 16px;
}

.profi-widget__header {
    font-size: 16px;
    margin-bottom: 11px;
}

.profi-widget__button {
    float: left;
}

.profi-widget__info {
    float: right;
    margin-right: 15px;
    width: 165px;
}

.profi-widget__info-row {
    float: left;
}

.profi-widget__link {
    width: 90px;
    font-size: 14px;
    height: 35px;
    padding: 6px 15px;
}

.profi-widget__icon_profi {
    width: 8px;
    height: 7px;
}
