@font-face {
    font-family: 'ProximaNova';
    src: url("../../backoffice/icjs/b2b/fonts/proxima_nova/proxima_nova-regular.eot");
    src: url("../../backoffice/icjs/b2b/fonts/proxima_nova/proxima_nova-regular.eot?#iefix") format("embedded-opentype"), url("../../backoffice/icjs/b2b/fonts/proxima_nova/proxima_nova-regular.woff") format("woff"), url("../../backoffice/icjs/b2b/fonts/proxima_nova/proxima_nova-regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../../backoffice/icjs/b2b/fonts/proxima_nova/proxima_nova-bold.eot");
    src: url("../../backoffice/icjs/b2b/fonts/proxima_nova/proxima_nova-bold.eot?#iefix") format("embedded-opentype"), url("../../backoffice/icjs/b2b/fonts/proxima_nova/proxima_nova-bold.woff") format("woff"), url("../../backoffice/icjs/b2b/fonts/proxima_nova/proxima_nova-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
}

.profi-widget {
    background: #fff;
    border-radius: 4px;
    font-family: ProximaNova;
}

.profi-widget, .profi-widget * {
    box-sizing: border-box;
}

.profi-widget__info-row {
    margin-bottom: 3px;
}

.profi-widget__value {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.profi-widget__value-icon {
   margin-right: 3px;
}

.profi-widget__header {
    line-height: 26px;
    font-weight: bold;
    color: #33363B;
}

.profi-widget__badge,
.profi-widget__review,
.profi-widget__rating {
    float: left;
}

.clr {
    clear: both;
}

.profi-widget__link {
    display: block;
    text-align: center;
    line-height: 24px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    background: #C00027;
    color: #fff;
}

.profi-widget__rating {
    margin-right: 10px;
}

.profi-widget__icon_profi {
    display: inline-block;
    margin: 0 1px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTVweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMTUgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+IDxkZWZzPjwvZGVmcz4gPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+IDxnIGlkPSJsb2dvIiBmaWxsPSIjMzMzNjNCIj4gPGNpcmNsZSBpZD0iT3ZhbCIgY3g9IjcuNSIgY3k9IjMuNSIgcj0iMy41Ij48L2NpcmNsZT4gPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMCA5LjM0ODg4ODg5IDE1IDkuMzQ4ODg4ODkgMTUgMTMuOTY4ODg4OSAxLjE1NzIzNTczZS0xNCAxMy45Njg4ODg5IDEuMTU3MjM1NzNlLTE0IDkuMzQ4ODg4ODkiPjwvcG9seWdvbj4gPC9nPiA8L2c+PC9zdmc+);
    background-size: 100%;
    background-repeat: no-repeat;
}
